# playbook.yml
---
- hosts: PROD
  become: yes
  become_user: root  
  tasks:
    - name: 1. install Apache
      apt: name=apache2 state=present

    - name: 2. install PHP module for Apache
      apt:
        name: ['php','php-fpm','php-common','php-cli','php-curl','php-mysql','libapache2-mod-php']
        state: latest
    
    - name: 3. Install MariaDB server package
      apt: name=mariadb-server state=present

    - name: 4. Start Mysql Service
      service: name=mysql state=started enabled=true      

    - name: 5. Start Apache
      service: name=apache2 state=running enabled=yes

    - name: 6. install Hello World PHP script
      copy: src=DevOps_Practice_Repository.tar dest=/var/www/ mode=0664
    
    - name: 7. descompress files
      shell: tar -xvf /var/www/DevOps_Practice_Repository.tar -C /var/www/html/
    
    - name: 8. remove index default page  
      shell: rm /var/www/html/index.html || true
      
    - name: 9. change permisos files of aplication  
      shell: chown -R www-data:www-data /var/www/html && chmod -R 775 /var/www/html/
    
    - name: 10. run script db
      shell: mysql -h localhost --user='root' --password='' < /var/www/html/db_sistema_mas_datos.sql || true
